DATABASE_URL="mysql://symfony:symfony@db:3306/symfony?serverVersion=8.0"

# Baza aplikacji (db)
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=

# Baza CRUD (db_crud)
MYSQL_CRUD_ROOT_PASSWORD=
MYSQL_CRUD_USER=
MYSQL_CRUD_PASSWORD=
